* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: linear-gradient(to bottom, #00c853, #e0f7fa);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.login-container h1 {
    margin-bottom: 30px;
    font-size: 32px;
    color: #4a148c;
}



input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #33691e;
}

.remember-me label {
    margin-left: 5px;
    font-size: 14px;
}

button {
    background-color: #00e676;
    color: white;
    font-size: 18px;
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #00c853;
}

#error-message {
    color: red;
    margin-top: 15px;
    font-size: 14px;
}